<!DOCTYPE html>
<html>
  <head>
    <title>Football Frenzy</title>
    <%- include ("../partials/header.ejs") %>
  </head>
  <body>
    <div class="title">
      <span class="red">FOOTBALL</span>
      <br />
      <span class="blue">FRENZY</span>
    </div>
    <h1>Todays Headlines are</h1>
    <div id="headlines">
      <!-- <div class="headline">
        <img src="" >
        <div class="title">Title</div>
        <div class="description">Description</div>
        <a href="#">Full story</a>
      </div> -->
    </div>
    <div>
      <p>Made by Aaron Dalrymple</p>
    </div>
  </body>
</html>
