<!DOCTYPE html>
<html>
  <head>
    <title>Football Frenzy</title>
    <%- include ("../partials/header.ejs") %>
  </head>
  <body>
    Football Frenzy
    <p>Todays Headlines are</p>
  </body>
</html>
