<!DOCTYPE html>
<html>
  <head>
    <title>Football Frenzy</title>
    <%- include ("../partials/header.ejs") %>
  </head>
  <body>
    Football Frenzy
    <p>Todays Headlines are</p>
    <p>Crystal Palace	
0
Fulham	
0
FT
Leicester	
1
Arsenal	
3
FT
Tottenham	
4
Burnley	
0
FT
Chelsea	
16:30
Man Utd
Sheff Utd	
19:15
Liverpool
</p>
  </body>
</html>
