<!DOCTYPE html>
<html>
  <head>
    <title>Football Frenzy</title>
    <%- include ("../partials/header.ejs") %>
  </head>
  <body>
    Football Frenzy
    <p>Todays Headlines are</p>
    <p>Crystal Palace	
0
Fulham	
0
FT
<p>Leicester	
1
Arsenal	
3
FT</p>
<p>Tottenham	
4
Burnley	
0
FT</p>
<p>Chelsea	
16:30
Man Utd</p>
<p>Sheff Utd	
19:15
Liverpool
</p>
  </body>
</html>
